{
  "openapi": "3.1.0",
  "info": {
    "title": "Canonn API",
    "version": "1.1.0",
    "summary": "Grounded answers from your own documents.",
    "description": "Canonn serves **canonn-r1**, a model fine-tuned for context faithfulness: it\nanswers from the documents you supply, says so when the answer is not there,\nand flags passages that contradict each other.\n\nThe API is **OpenAI-compatible**. Point any OpenAI SDK at\n`https://api.canonn.ai/v1`, set your Canonn key, and existing code works\nunchanged.\n\n## Authentication\n\nEvery request carries a bearer key created in the\n[dashboard](https://canonn.ai/dashboard/):\n\n```\nAuthorization: Bearer canonn-sk-...\n```\n\nA key is shown once at creation and stored only as a hash — it cannot be\nrecovered, only revoked and replaced.\n\n## How to prompt it\n\nPut the documents in the system message and the question in the user\nmessage. No rulebook is needed: faithfulness is trained into the weights,\nnot instructed at runtime.\n\n```\nsystem: Answer from the data below.\n\n        Data: Refunds are accepted within 45 days of purchase.\nuser:   What is the refund window?\n```\n\n## Pricing and limits\n\nUsage is billed per token — $1.20 per 1M input tokens, $6.00 per 1M output\ntokens — drawn from prepaid credits. Accounts without credits get 1,000 free\ncalls per month; past that the API answers `402`. Context window is 16,384\ntokens.\n\n## Errors\n\nErrors return the appropriate HTTP status with a JSON body of the shape\n`{\"error\": \"message\"}`.\n",
    "contact": {
      "name": "Canonn",
      "email": "hello@canonn.ai",
      "url": "https://canonn.ai"
    },
    "termsOfService": "https://canonn.ai/legal/#terms",
    "license": {
      "name": "Canonn Terms of Service",
      "url": "https://canonn.ai/legal/#terms"
    }
  },
  "servers": [
    {
      "url": "https://api.canonn.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Chat",
      "description": "Generating grounded answers."
    },
    {
      "name": "Models",
      "description": "What this API serves."
    },
    {
      "name": "Playground",
      "description": "Keyless endpoints used by the public demo."
    }
  ],
  "paths": {
    "/chat/completions": {
      "post": {
        "tags": [
          "Chat"
        ],
        "operationId": "createChatCompletion",
        "summary": "Create a grounded completion",
        "description": "OpenAI-compatible chat completion. Set `stream: true` for server-sent\nevents; chunks arrive as `data: {...}` lines terminated by `data: [DONE]`.\n\nNon-streamed generations longer than about 100 seconds can hit the\nedge's first-byte timeout — use streaming for long outputs.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatCompletionRequest",
                "properties": {
                  "files": {
                    "description": "Ground the answer on uploaded knowledge files: `true` retrieves across every file the key's tenant uploaded, or pass an array of file ids. The server selects the most relevant passages (BM25, same ranking as the Canonn apps), builds the grounded prompt, and non-streamed responses include a `canonn.citations` array naming the passages used.",
                    "oneOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ]
                  },
                  "retrieval": {
                    "type": "object",
                    "description": "Optional retrieval tuning when `files` is set.",
                    "properties": {
                      "top_k": {
                        "type": "integer",
                        "default": 8,
                        "maximum": 40
                      },
                      "budget": {
                        "type": "integer",
                        "default": 12000,
                        "maximum": 60000,
                        "description": "Max characters of retrieved data placed in front of the model."
                      }
                    }
                  }
                }
              },
              "examples": {
                "grounded": {
                  "summary": "Answer from supplied data",
                  "value": {
                    "model": "canonn-r1",
                    "messages": [
                      {
                        "role": "system",
                        "content": "Answer from the data below.\n\nData: Refund window: 45 days from purchase. In-app purchases: refunded within 5 days.\n"
                      },
                      {
                        "role": "user",
                        "content": "How long do I have to request a refund?"
                      }
                    ]
                  }
                },
                "absent": {
                  "summary": "A question the data cannot answer",
                  "description": "Canonn declines instead of inventing an answer.",
                  "value": {
                    "model": "canonn-r1",
                    "messages": [
                      {
                        "role": "system",
                        "content": "Answer from the data below.\n\nData: Plan A costs 10 dollars per month.\n"
                      },
                      {
                        "role": "user",
                        "content": "How much does Plan B cost?"
                      }
                    ]
                  }
                },
                "streaming": {
                  "summary": "Streamed response",
                  "value": {
                    "model": "canonn-r1",
                    "stream": true,
                    "messages": [
                      {
                        "role": "system",
                        "content": "Answer from the data below.\n\nData: Support hours are 9am to 5pm on weekdays."
                      },
                      {
                        "role": "user",
                        "content": "Is support available on Saturday?"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A completion. When `stream` is true the media type is\n`text/event-stream` instead of `application/json`.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatCompletion"
                },
                "examples": {
                  "grounded": {
                    "value": {
                      "id": "chatcmpl-8f4f7d976xch9d",
                      "object": "chat.completion",
                      "created": 1786018376,
                      "model": "canonn-r1",
                      "choices": [
                        {
                          "index": 0,
                          "message": {
                            "role": "assistant",
                            "content": "The refund window is 45 days from purchase."
                          },
                          "finish_reason": "stop"
                        }
                      ],
                      "usage": {
                        "prompt_tokens": 38,
                        "completion_tokens": 9,
                        "total_tokens": 47
                      }
                    }
                  }
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "stream": {
                    "value": "data: {\"id\":\"chatcmpl-…\",\"object\":\"chat.completion.chunk\",\"created\":1786018376,\"model\":\"canonn-r1\",\"choices\":[{\"index\":0,\"delta\":{\"content\":\"No\"},\"finish_reason\":null}]}\n\ndata: {\"id\":\"chatcmpl-…\",\"object\":\"chat.completion.chunk\",\"created\":1786018376,\"model\":\"canonn-r1\",\"choices\":[{\"index\":0,\"delta\":{},\"finish_reason\":\"stop\"}]}\n\ndata: [DONE]\n"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "502": {
            "$ref": "#/components/responses/UpstreamUnavailable"
          }
        }
      }
    },
    "/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "operationId": "listModels",
        "summary": "List available models",
        "responses": {
          "200": {
            "description": "The models this key can address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Model"
                      }
                    }
                  }
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "id": "canonn-r1",
                      "object": "model",
                      "owned_by": "canonn"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/models/catalog": {
      "get": {
        "tags": [
          "Models"
        ],
        "operationId": "getModelCatalog",
        "summary": "Model catalog with pricing",
        "description": "Public and unauthenticated. Returns the machine-readable catalog used by\naggregators and marketplaces: context length, modalities, and per-token\nprices in USD.\n",
        "security": [],
        "responses": {
          "200": {
            "description": "Catalog entry per served model.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CatalogModel"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "canonn-r1",
                      "name": "Canonn R1",
                      "created": 1785196800,
                      "description": "A 9B model fine-tuned for context faithfulness.",
                      "input_modalities": [
                        "text"
                      ],
                      "output_modalities": [
                        "text"
                      ],
                      "context_length": 16384,
                      "max_output_length": 4096,
                      "pricing": {
                        "prompt": "0.0000012",
                        "completion": "0.000006",
                        "image": "0",
                        "request": "0",
                        "input_cache_read": "0.0000012"
                      },
                      "quantization": "bf16",
                      "supported_sampling_parameters": [
                        "temperature",
                        "top_p",
                        "max_tokens",
                        "stop",
                        "seed"
                      ],
                      "supported_features": [
                        "streaming"
                      ],
                      "datacenters": [
                        "FIN"
                      ],
                      "is_ready": true,
                      "is_free": false
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/demo": {
      "post": {
        "tags": [
          "Playground"
        ],
        "operationId": "runDemo",
        "summary": "Keyless demo call",
        "description": "Powers the public playground on canonn.ai. No key required, rate limited\nper IP, with tighter length limits than the main endpoint. Set\n`stream: true` to receive server-sent events instead of JSON.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data",
                  "question"
                ],
                "properties": {
                  "data": {
                    "type": "string",
                    "maxLength": 8000,
                    "description": "The documents to answer from."
                  },
                  "question": {
                    "type": "string",
                    "maxLength": 500
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false
                  }
                }
              },
              "example": {
                "data": "Refund window: 45 days from purchase.",
                "question": "How long do I have to request a refund?"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The grounded answer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "answer": {
                      "type": "string"
                    },
                    "seconds": {
                      "type": "number"
                    }
                  }
                },
                "example": {
                  "answer": "The refund window is 45 days from purchase.",
                  "seconds": 0.8
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/files": {
      "post": {
        "summary": "Upload a knowledge file",
        "description": "Uploads a document to ground chat completions on. The file is split into retrievable passages server-side using the same record-aware chunking as the Canonn apps. Accepts multipart/form-data with a `file` field (OpenAI-compatible) or `application/json` with `filename` and `content`. Supported: plain text, Markdown, JSON (record-aware), HTML. Max 1 MB per file.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "purpose": {
                    "type": "string",
                    "example": "assistants"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "filename": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The processed file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List knowledge files",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Files owned by the key's tenant."
          }
        }
      }
    },
    "/files/{file_id}": {
      "get": {
        "summary": "Retrieve a file's metadata",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The file.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a file and its passages",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion confirmation."
          }
        }
      }
    },
    "/files/{file_id}/content": {
      "get": {
        "summary": "Download the file's extracted text",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "file_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plain-text content reconstructed from the stored passages."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A Canonn API key, created in the dashboard (`canonn-sk-...`)."
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed request body.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "invalid json"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing, malformed, or revoked API key.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "invalid api key"
            }
          }
        }
      },
      "PaymentRequired": {
        "description": "The free-tier allowance for the month is spent and the account has no\ncredits. Add credits in the dashboard to continue.\n",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Free tier limit reached for this month (1000 calls). Add credits in the dashboard to continue."
            }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests in the current window.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "Playground limit reached - try again in an hour."
            }
          }
        }
      },
      "UpstreamUnavailable": {
        "description": "The model could not be reached. Retry; requests are not billed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "upstream unavailable"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "A human-readable description of what went wrong."
          }
        },
        "required": [
          "error"
        ]
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant"
            ],
            "description": "Put the documents to answer from in the `system` message and the\nquestion in the `user` message.\n"
          },
          "content": {
            "type": "string"
          }
        }
      },
      "ChatCompletionRequest": {
        "type": "object",
        "required": [
          "messages"
        ],
        "properties": {
          "model": {
            "type": "string",
            "default": "canonn-r1",
            "description": "Always `canonn-r1`. Unknown values are normalised to it rather than\nrejected, so older integrations keep working.\n"
          },
          "messages": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "stream": {
            "type": "boolean",
            "default": false,
            "description": "Return server-sent events instead of a single JSON body."
          },
          "temperature": {
            "type": "number",
            "minimum": 0,
            "maximum": 2,
            "default": 0,
            "description": "Leave at 0 for extraction work; higher values only add variance."
          },
          "max_tokens": {
            "type": "integer",
            "minimum": 1,
            "default": 1024
          },
          "top_p": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "stop": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "seed": {
            "type": "integer",
            "description": "Same seed and inputs produce the same answer."
          }
        }
      },
      "Choice": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer"
          },
          "message": {
            "$ref": "#/components/schemas/Message"
          },
          "finish_reason": {
            "type": "string",
            "enum": [
              "stop",
              "length"
            ],
            "description": "`length` means the answer was cut off by `max_tokens` - raise it and\nretry rather than shipping a truncated answer.\n"
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer"
          },
          "completion_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          }
        }
      },
      "ChatCompletion": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "const": "chat.completion"
          },
          "created": {
            "type": "integer",
            "description": "Unix seconds."
          },
          "model": {
            "type": "string"
          },
          "choices": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Choice"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/Usage"
          }
        }
      },
      "Model": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "object": {
            "type": "string",
            "const": "model"
          },
          "owned_by": {
            "type": "string"
          }
        }
      },
      "CatalogModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "created": {
            "type": "integer"
          },
          "description": {
            "type": "string"
          },
          "input_modalities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "output_modalities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "context_length": {
            "type": "integer"
          },
          "max_output_length": {
            "type": "integer"
          },
          "pricing": {
            "type": "object",
            "description": "USD per token, as strings.",
            "properties": {
              "prompt": {
                "type": "string"
              },
              "completion": {
                "type": "string"
              },
              "image": {
                "type": "string"
              },
              "request": {
                "type": "string"
              },
              "input_cache_read": {
                "type": "string"
              }
            }
          },
          "quantization": {
            "type": "string"
          },
          "hugging_face_id": {
            "type": [
              "string",
              "null"
            ]
          },
          "supported_sampling_parameters": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "supported_features": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "datacenters": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "is_ready": {
            "type": "boolean"
          },
          "is_free": {
            "type": "boolean"
          }
        }
      },
      "File": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "file-8e2295c3225b6abf"
          },
          "object": {
            "type": "string",
            "example": "file"
          },
          "purpose": {
            "type": "string",
            "example": "assistants"
          },
          "filename": {
            "type": "string"
          },
          "bytes": {
            "type": "integer"
          },
          "created_at": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "example": "processed"
          },
          "chunk_count": {
            "type": "integer",
            "description": "Retrievable passages extracted from the file."
          }
        }
      }
    }
  }
}